*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #2dae67;
  --main-color-dark: #15ee7e;
  --main-color-light: #425943;
  --text-color: #cfcde7;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #e4e2f5;
  min-height: 100vh;
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--main-color);
  width: 14rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
}

nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}

.toolbar-title {
  position: relative;
  display: flex;
  align-items: center;
}

.toolbar-title h2 {
  padding-left: 0.1rem;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(46, 118, 86, 0.3);
  right: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.shrink-btn i {
  line-height: 27px;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

#option{
  width: 200px;
  height: 25px;
  margin: 5px;
  align-content: center;
}

#option select{
  border: 1px solid #cccccc;
  outline: none;
  width: 120px;
  height: 100%;
  margin-left: 10px;
/*  appearance: none; */
/*  -webkit-appearance: none; */
/*  -moz-appearance: none; */
  padding-left: 20px;
  border-radius: 5px;
  position:relative;
}

.toolbar-params {
  margin: 0.5rem;
}

.toolbar-params li{
  margin-top:20px;
}

input[type="text"]{
  position: absolute;
  width: 2.4rem;
  height: 1.2rem;
  margin-left: 6px;
}

input[type="range"]{
  margin: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  margin-top: 4px;
  margin-left: 4px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

body.shrink nav {
  width: 3rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

/* main */

main {
  flex: 1;
  padding: 2rem;
  color: #1f2027;
  display: grid;
  grid-template-columns: 600px 380px;
  grid-template-rows: 300px 220px;
  grid-gap: 20px;
}

.line-chart{
  grid-column: 1;
  grid-row: 1;
  margin-left: 10px;
  border: 1px solid green;
  fill: #e4e2f5;
}

.barcode{
  grid-column: 1;
  grid-row: 2;
  margin-left: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid green;
  fill: #e4e2f5;
}

.tree{
  grid-column: 2;
  grid-row: 1 / 3;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid green;
  fill: #e4e2f5;
}